* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.open-modal-button {
    cursor: pointer;
}

.modal-container {
    position: relative;
    z-index:  1;
}

.overlay-style {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.modal-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    padding: 35px 50px;
    z-index: 1000;
}

.modal-header {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.close-modal-x {
    font-size: 1.3rem;
    color: #808080;
}

.close-modal-x:hover {
    color: #3a3737;
}

.close-modal-x, .close-modal-button {
    cursor: pointer;
}